*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: aliceblue;
}
/* Decided to go for simple colors in the header selectors. Also made sure the nav appears similarly to the way it does in the mock up. */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: darkblue;
}

header h1 {
    background-color: lightblue;
}

.hero{
    background: linear-gradient(to top, darkblue, lightblue);
    height: 100px;
}

main{
   margin: 50px;
   padding: 5px; 
}
/* Added flex properties to make align content more smoothly */
section{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

section h2{
    flex: 0 0 20%;
    border-right: 3px  solid black;
}

section div{
    flex: 0 0 80%;
}

ul a {
    display: inline;
    margin: 50px;
    color: black;
}
/* Condensed various classes down to one for more efficiency */
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    min-height: 150px;
    max-height: 150px;
    background-color: gray;
    flex-basis: calc(50% - 1em);
    margin: 5px;
    background-size: cover;
}

.prework{
    flex-basis: 96%;
    min-height: 350px;
    background-image: url(../images/scheckj-prework-study-guide.png);
}

.code-refactor {
    background-image: url(../images/scheckj.github.io_Code-refactor_.png);
}

.placeholder {
    background-image: url(../images/placeholder-clipart-1.png);
}

@media screen and (max-width: 1024px) {
    body{
        flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
   body {
    flex-direction: column;
    width: 100%;
   }
  }
  
 
  @media screen and (max-width: 320px) {
    body {
        flex-direction: column;
        width: 110%;
    }
   
  }
