*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{}

a{
    text-decoration: none;
    color: aliceblue;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: darkblue;
}

header h1 {
    background-color: lightblue;
}

/* target the nav in the header: adjust styles accordingly */

.hero{
    background: linear-gradient(to top, darkblue, lightblue);
    height: 100px;
}

main{
   margin: 50px;
   padding: 5px; 
}

section{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

section h2{
    flex: 0 0 20%;
    border-right: 3px  solid black;
}

section div{
    flex: 0 0 80%;
}

ul a {
    display: inline;
    margin: 50px;
    color: black;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    min-height: 150px;
    max-height: 150px;
    background-color: pink;
    flex-basis: calc(50% - 1em);
    margin: 5px;
    background-size: cover;
    /* background-position: center; */
}

.prework{
    flex-basis: 96%;
    min-height: 350px;
    background-image: url(../images/scheckj-prework-study-guide.png);
}

.code-refactor {
    background-image: url(../images/scheckj.github.io_Code-refactor_.png);
}


